version: '3'
services:
  web:
    build: 
      context: ../web
      dockerfile: ./build_cpuruntime/Dockerfile
    image:
      bureaucratschoice/onpremchat:dev
    command: ["uvicorn", "app:app", "--host", "0.0.0.0", "--port", "80"] 
    environment:
      - SUPERTOKEN=PLEASE_CHANGE_THIS_PLEASE # Really please change this, otherwise everyone reading the github repo can get access.
    volumes:
      - ../web/src:/app #Development, consider removing this for production
      - ../models:/models
      - ../config:/config
    ports:
      - 8000:80






