fastapi>=0.96.0
ipykernel>=6.23.1
pypdf==3.17.0
python-box==7.0.1
python-dotenv==1.0.0
sentence-transformers==2.2.2
uvicorn>=0.22.0
llama-cpp-python>=0.1.79
nicegui
llama_index
sentencepiece
llama_hub
PyMuPDF
rouge_score
pyyaml